.login-form {
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  padding: {
    bottom: 30px;
    top: 20px;
    left: 15px;
    right: 15px;
  }
  border-radius: 2px;
  box-shadow: 0px 2px 10px #ccc;
}
.container {
  height: 100%;
  width: 100%;
  background: rgb(226, 226, 226);
  position: absolute;
  top: 0;
  left: 0;
}

.login-form-margin {
  margin-bottom: 16px;
}

.login-form-forgot {
  float: right;
}

.login-form-button {
  width: 100%;
}

.logtxt{
  font-style: normal;
}

form nz-form-item:nth-child(2) {
  margin-top: 30px;
  margin-bottom: 30px;
}

h2{
  margin:0px;
}